.box {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameField {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-top: 20px;
}

.gameBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 150px;
  height: 150px;
  border: 1px solid;
  position: relative;

  &Small {
    width: 48px;
    height: 48px;
  }

  &Pen {
    border: 0;
    width: 16px;
    height: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.gameNumber {
  font-size: 1.875rem;
  color: blue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &Wrong {
    color: red;
  }

  &Pen {
    font-size: 8px;
    top: auto;
    left: auto;
    transform: none;
    color: lightslategray;
  }
}